body { 
	background-image:linear-gradient(360deg,black,#408721);
    background-repeat:no-repeat;
    background-size:cover;
	background-attachment: fixed;
}      
caption { 
	color: white;
	text: bold;
}
table {
	margin: auto;
}
td, th {
	color: white;
	text-align: center;
}
#a-default {
	color: white;
	margin: auto;
	text-align: center;
}
a:link {color: white;}
a:visited {color: white;}